<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        td{
            border: 1px solid #333;
        }
    </style>
</head>
<body>
    <table>
        <thead>
            <td>书名</td>
            <td>作者</td>
            <td>价格</td>
            <td>修改</td>
        </thead>
        <%for(var i = 0;i<list.length;i++){%>
        <tr>
            <td><%=list[i].name%></td>
            <td><%=list[i].author%></td>
            <td><%=list[i].price%></td>
            <td><a href="/update?name=<%=list[i].name%>">修改</a></td>
        </tr>
        <%}%>
    </table>
    <a href="/add">添加</a>
</body>
</html>