<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <a href="/">back</a>
    <form action="/doupdate" method="get">
        <div>书名：<input type="text" name="name" value="<%=result[0].name%>"></div>
        <div>作者：<input type="text" name="author" value="<%=result[0].author%>"></div>
        <div>价格：<input type="text" name="price" value="<%=result[0].price%>"></div>
        <input type="submit" value="add">
    </form>
</body>
</html>