<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/jquery.Jcrop.min.js"></script>
    <script type="text/javascript">
        $(function ($) {
            var jcrop_api,
                boundx,
                boundy,

                $preview = $('#preview-pane'),
                $pcnt = $('#preview-pane .preview-container'),
                $pimg = $('#preview-pane .preview-container img'),

                xsize = $pcnt.width(),
                ysize = $pcnt.height();

            console.log('init', [xsize, ysize]);
            $('#target').Jcrop({
                onChange: updatePreview,
                onSelect: updatePreview,
                aspectRatio: xsize / ysize
            }, function () {
                // Use the API to get the real image size
                var bounds = this.getBounds();
                boundx = bounds[0];
                boundy = bounds[1];
                // Store the API in the jcrop_api variable
                jcrop_api = this;

                // Move the preview into the jcrop container for css positioning
                $preview.appendTo(jcrop_api.ui.holder);
            });

            function updatePreview(c) {
                if (parseInt(c.w) > 0) {
                    var rx = xsize / c.w;
                    var ry = ysize / c.h;

                    $pimg.css({
                        width: Math.round(rx * boundx) + 'px',
                        height: Math.round(ry * boundy) + 'px',
                        marginLeft: '-' + Math.round(rx * c.x) + 'px',
                        marginTop: '-' + Math.round(ry * c.y) + 'px'
                    });
                }
            };
            $('#btn').on('click', function () {
                var w = $('.jcrop-holder>div:first').css('width').split('px')[0];
                var h = $('.jcrop-holder>div:first').css('height').split('px')[0];
                var x = $('.jcrop-holder>div:first').css('left').split('px')[0];
                var y = $('.jcrop-holder>div:first').css('top').split('px')[0];
                // alert(w+'--'+h+'--'+x+'--'+y);
                $.post('/jian', { "w": w, "h": h, "x": x, "y": y }, function (result) {
                    alert(result)
                    location.href = '/';
                })
            })
        });
    </script>
    <link rel="stylesheet" href="/css/jquery.Jcrop.css" type="text/css" />
    <style type="text/css">
        .jcrop-holder #preview-pane {
            display: block;
            position: absolute;
            z-index: 2000;
            top: 10px;
            right: -280px;
            padding: 6px;
            border: 1px rgba(0, 0, 0, .4) solid;
            background-color: white;

            -webkit-border-radius: 6px;
            -moz-border-radius: 6px;
            border-radius: 6px;

            -webkit-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
            -moz-box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
            box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.2);
        }

        #preview-pane .preview-container {
            width: 100px;
            height: 100px;
            overflow: hidden;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="jc-demo-box">
                    <img src="../avatar/<%=name%>.jpg" id="target" alt="" />
                    <div id="preview-pane">
                        <div class="preview-container">
                            <!-- <%=name%> -->
                            <img id="img2" src="../avatar/<%=name%>.jpg" class="jcrop-preview" alt="Preview" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="submit" id="btn">
    <!-- <script src="http://code.jquery.com/jquery-latest.js" type="text/javascript"></script> -->
    <script>

    </script>
</body>

</html>