<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        img {
            width: 100px;
            height: 100px;
        }

        .fl {
            float: left;
            margin: 20px;
        }
    </style>
</head>

<body>
    <a href="/">back</a>
    <div>
        <% for(var i = 0 ; i < img.length ; i++){ %>
            <div class="fl">
                <img src=<%=img[i]%> alt="">
            </div>
            <% } %>
    </div>
</body>

</html>