<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        img{
            width: 200px;
            height: 100px;
        }
        .fl{
            float: left;
            margin: 20px;
        }
    </style>
</head>
<body>
    <a href="/up">add</a>
    <div>
        <% for(var i = 0 ; i < album.length ; i++){ %>
            <a href=<%= album[i] %> class="fl">
                <img src="img/a.jpg" alt="">
                <div><%= album[i] %></div>
            </a>
        <% } %>
    </div>
</body>
</html>