<!-- <a href="/">全部说说</a> <span>-----</span><a href="javascript:;" id="my">我的说说</a>
    <span>---------------------------------------------------------</span>
    <%if(!login){%>
    <span><a href="/login">登录</a><span>-----</span><a href="/regist">注册</a></span>
    <%}else{%>
        <span>欢迎你! <%=name%></span>
        <a href="/mine">个人资料</a>
         <span>-----</span><a href="javascript:;" id="tui">退出</a>
        <img src="/avatar/<%=avatar%>" alt="">
        <div><textarea name="txt" id="" cols="80" rows="10"></textarea></div>
        <button>发表说说</button>
    <%}%> -->