<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>注册</title>
</head>
<body>
    <div>
        用户名：<input type="text" id="name">
    </div>
    <div>
        密  码：<input type="text" id="pass">
    </div>
    <input type="submit" value="注册" id="btn">

<script src="http://code.jquery.com/jquery-latest.js" type="text/javascript"></script>
<script>
    $(function(){
        $('#btn').on('click',function(){
            console.log(1111111)
            $.post('/doregist',{'name':$('#name').val(),'pass':$('#pass').val()},function(result){
                alert(result)
                if(result=='注册成功'){
                    location.href='/'
                }
            })
        })
    })

</script>
</body>
</html> -->